.textRowContainer {
    text-align: center;
    font-family: Poppins, sans-serif!important;
    color: #222222;
    .hrTitle {
        width: 140px;
        margin: 20px auto;
    }   
    .articleTextRow {
        color: #333;
    } 
}
