.card {
  height: 100%;
  max-width: 33%;
  padding: 10px;
  position: relative;
  font-family: Poppins, sans-serif!important;
  h2 {
    margin-top: 0px;
  }
  .innerCard {
    width: 100%;
    margin: auto;
  }
  .text{
    font-size: 18px;
    text-align: justify;
    margin-bottom: 26px;
    margin-top: 0;
  }
  .button{
    display: block;
    padding: 20px 20px;
    border-radius: 2px;
    font-size: 16px;
    font-weight: 700;
    margin-top: 10px;
    letter-spacing: 0.5px;
    width: 80px;
  }
  .linkContainer
  {
    border: none;
    overflow: hidden;
    display: block;
    background-color: #000000;
    display: flex;
    justify-content: center;
    text-align: center;
    .cardTitle {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        z-index: 9;
        margin-right: 45px;
        margin-left: 45px;
        transition: opacity 0.8s;
        opacity: 1;
    }
  }
  .linkContainer:hover .img {
    transform: scale(1.1);
    opacity: 1;
  }
  .linkContainer:hover .cardTitle {
    opacity: 0;
  }
  .img {
    transition: all 0.8s;
    height: 260px;
    width: 100%;
    opacity: 0.6;
  }
}

@media only screen and (max-width: 540px)
{
  .card {
    max-width: 30%;
    padding: 18px;
  }
}

@media only screen and (max-width: 361px)
{
  .card {
    max-width: 45%;
  }
}