.mainHeader {
    height: 40px;
    background-color: #007FFF
    ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border-bottom: 1px solid;
    .mainHeader_inner
    {
        display: flex;
        justify-content: space-between;
        .infoIcon {
            vertical-align: sub;
        }
        .socials {
            position: relative;
            top: -2px;
            .social {
                padding: 3px;
                cursor: pointer;
                font-size: 20px;
                &:hover {
                    color: #FF9900;
                }
                .instagram {
                    vertical-align: top;
                    top: 2px;
                    position: relative;
                }
                .twitter {
                    vertical-align: top;
                    top: 2px;
                    position: relative;
                }
            }
        }
    }
}

