.mainHeader {
    background-color: #007FFF
    ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    .mainHeader_inner
    {
        display: flex;
        justify-content: space-between;
        color: #f7f7f7;
        position: relative;
        border-bottom: 1px solid #f7f7f7;
        .infoIcon {
            vertical-align: sub;
        }
        .contacts {
            padding: 4px 0 0 0;
            .contactsEmail {
                margin-right: 20px;
                margin-bottom: 2px;
            }
            .telephoneIco {
                font-size: 20px;
                margin-right: 5px;
                vertical-align: middle;
                position: relative;
                top: -2px;
            }
        }
        .localizationIco {
            display: flex;
            position: absolute;
            right: 45.5%;
            top: 50%;
            transform: translate(0, -50%);
            .flagIco {
                margin-left: 3px;
                margin-right: 3px;
            }
        }
        img.icoEng {
            border-radius: 20px;
            margin-left: 3px;
            margin-right: 3px;
        }
        .socials {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(0, -50%);
            .social {
                padding: 3px;
                cursor: pointer;
                font-size: 20px;
                &:hover {
                    color: #FF9900!important;
                }
                .instagram {
                    vertical-align: top;
                    top: 2px;
                    position: relative;
                }
                .twitter {
                    vertical-align: top;
                    top: 2px;
                    position: relative;
                }
                .facebook {
                    vertical-align: middle;
                    position: relative;
                    top: -1px;
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .mainHeader {
        height: auto;
        .mainHeader_inner
        {
            justify-content: space-between;
            position: relative;
            .infoIcon {
                vertical-align: sub;
            }
            .contacts {
                display: block;
                padding-top: 5px;
                padding-bottom: 5px;
            }
            .localizationIco {
                position: absolute;
                right: 0;
                top: 50%;
                transform: translate(0, -50%);
            }
            .socials {
                display: none;
            }
        }
    }  
}