.footerContainer {
    z-index: 10;
    height: 40px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1AA2B0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f7f7f7;
    box-shadow: 0px -2px 4px rgb(145 145 145);
    .copyRight {
        vertical-align: center;
    }
    .copyRightIco {
        vertical-align: sub;
    }
}