.infoAndContactsContainer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/vendors/images/ws1.jpg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
    background-repeat: no-repeat;
    .infoTitle {
        color: #f90;
    }
}

/*up to 800*/
@media only screen and (max-width: 800px) {
    .contact {
        width: 100%;
        margin-top: 20px;
        .infoText {
            font-size: 120%;
        }
    }
}