.nav {
    width: 100%;
    height: 80px;
    background-color: #1AA2B0;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    .outerNavLink {
        display: flex;
        justify-content: flex-end;
        .navLink {
            display: flex;
            padding-left: 0;
            position: relative;
            color: #f7f7f7;
            li {
                letter-spacing: 1px;
                list-style-type: none;
                margin-left: 10px;
                margin-right: 10px;
                font-size: 130%;
                font-weight: 700;
                display: inline-block;
                position: relative;
                cursor: pointer;
            }
            li.normal {
                &:before {
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 2px;
                    bottom: 0;
                    right: 0;
                    background-color: #f90;
                    visibility: hidden;
                    transition: all 0.3s ease-in-out;
                }
                &:hover:before {
                    visibility: visible;
                    width: 100%;
                }
                .iconChevron {
                    font-size: 15px;
                    margin-left: 5px;
                    vertical-align: middle;
                }
            }
            li.dropDown {
                &:hover:before {
                    visibility: hidden;
                }
            }
            li.fixedLink {
                @extend .normal;
                &:before {
                    visibility: visible;
                    width: 100%;
                }
            }
            li a {
                color: #ffffff;
            }
        }
    }
}