.nav {
    width: 100%;
    height: 80px;
    background-color: #1AA2B0;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    .innerNav 
    {
        display: flex;
        height: 100%;
        margin: auto;
        .logo {
            width: 25%;
        }
        .outerNavLink {
            display: flex;
            justify-content: flex-end;
            width: 75%;
            .showOnMaxWidth
            {
                .navLink {
                    display: flex;
                    padding-left: 0;
                    position: relative;
                    color: #f7f7f7;
                    margin-bottom: 0;
                    height: 100%;
                    li {
                        letter-spacing: 1px;
                        list-style-type: none;
                        margin-left: 10px;
                        margin-right: 10px;
                        font-size: 130%;
                        font-weight: 700;
                        display: inline-block;
                        position: relative;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        div {
                            position: relative;
                            top: -5px;
                        }
                    }
                    div.normal {
                        &:before {
                            content: "";
                            position: absolute;
                            width: 0;
                            height: 2px;
                            bottom: 0;
                            right: 0;
                            background-color: #f90;
                            visibility: hidden;
                            transition: all 0.3s ease-in-out;
                        }
                        &:hover:before {
                            visibility: visible;
                            width: 100%;
                        }
                        .iconChevron {
                            font-size: 15px;
                            margin-left: 5px;
                            vertical-align: middle;
                        }
                    }
                    div.dropDown {
                        &:hover:before {
                            visibility: hidden;
                        }
                    }
                    div.fixedLink {
                        @extend .normal;
                        &:before {
                            visibility: visible;
                            width: 100%;
                        }
                    }
                    li a {
                        color: #ffffff;
                    }
                }
            }
            .showOnMinWidth {
                display: none;
            }
        }
        .menuMobile {
            font-family: 'Ubuntu', sans-serif;
            position: absolute;
            color: #ffffff;
            width: 80%;
            font-size: 120%;
            .normal, .fixedMobileLink {
                padding: 4px;
            }
            .fixedMobileLink {
                color: #f90;
            }
            .hideMobileMenu > div:last-child {
                padding-bottom: 10px;
            }
            hr {
                margin: 0;
            }
        }
    }

    .hideMobileMenu {
        display: block;
        // position: absolute;
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transition: all ease-in-out 0.8s;
    }
    .showMobileMenu {
        // position: static;
        opacity: 1;
        max-height: 500px;
        animation: ease-in-out;
    }
}

@media only screen and (max-width: 800px) {
    .nav {
        height: auto;
        .innerNav 
        {
            flex-wrap: wrap;
            .outerNavLink {
                .showOnMaxWidth {
                    display: none;
                }
                .showOnMinWidth {
                    display: block;
                    font-size: 50px;
                    color: #f90;
                }
            }
            .menuMobile {
                position:static;
            }
        }  
    }
    
}